@keyframes animatedJumbotron {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.answer-box	{
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	margin-top: 15px;
	padding: 10px;
	font-weight: bold;
}

footer {
	font-size: small;
	background-color: #482d1c;
	border-radius: 5px;
	color: white !important;
	padding: 10px;
}

footer a{
	color: #b4733b;
}

.navbar {
	font-family: 'Righteous', cursive;
	font-weight: bold;
	border-color: #482d1c;
	border-radius: 0px;
	background-color: #482d1c;
}

.navbar a{
	color: #b4733b !important;
}

th {
	font-family: 'Righteous', cursive;
	background-color: #482d1c;
	color: #b4733b;
}

.btn {
	background-color: #b4733b;
	color: #482d1c;
	font-weight: bold;
	border: solid;
	border-width: 2px;
	border-color: #482d1c;
}



button:active, button:focus, button:hover{
	background-color: #482d1c;
	color: #b4733b !important;
	font-weight: bold;
	border: solid;
	border-width: 2px;
	border-color: #b4733b;
}


td {
	font-family: 'Electrolize', sans-serif;
}

table {
	background-color: white;
}

.table-bordered	{
	border-color: #482d1c !important;
}

.jumbotron {
	background-image: url(./img/coffe.jpg);
	background-position: 0px 0px;
	background-repeat: repeat-x;
	background-size: contain;
	min-height: 	325px;
	color: white;
	animation: animatedJumbotron 10s linear infinite;
}

.jumbotron-heading {
	font-family: 'Righteous', cursive;
}

.lead {
	font-family: 'Electrolize', sans-serif;
}
form{
	font-family: 'Electrolize', sans-serif;	
}

hr {
	border-color: black;
	background-color: black;
}

form {
	border-style: solid;
	padding-top: 20px;
	padding-bottom: 20px;
}

body {
	background-color: #e0924e;
}

.bg-answear-default {
	background-color: #482d1c;
	color: #b4733b;
}

.bg-answear-success {
	background-color: #68e86a;
	color: #238224;
}

.bg-answear-error {
	background-color: #f44253;
	color: #7a111b;
}